<!DOCTYPE html>
<html>
<head>
  <title>Devise</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  
<!-- Latest compiled and minified JavaScript -->


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
       


<div class=" container-narrow">
  <div class="masthead">
  <h4 class="muted"><%= link_to "LOGO", root_path %></h4>
    <%= render 'layouts/user_header' %>
      
</div>
  </div>
  <% if notice %>
  <div id ="notice-wrapper" >

    <p class="notice"><%= notice %></p>
</div>
  <% elsif alert %>
<div id ="notice-wrapper" >
  <p class="alert"><%= alert %></p>
</div>
<%end%>
    <%= yield %>


 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script>
  setTimeout(function() {
    $('#notice-wrapper').fadeOut('slow');
}, 2500); // <-- time in milliseconds

</script>
</body>
</html>
<style>
.container-narrow{
  padding:0;
}
.notice{
  position: absolute;
}
.alert{
  position: absolute;
}
.masthead{
  padding:0;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px;
}
.nav{
  display:flex;
  justify-content: flex-end;
}
.nav li{
  padding: 10px 10px;
}
</style>
